:root {
    --dark-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    --transition: all 0.3s linear;
}

* {
  font-family: sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


/* Header: NAVBAR */
.logo {
    padding-left: 1rem;
    width: 5rem;
    cursor: pointer;
}

.nav {
    box-shadow: var(--dark-shadow);
    padding: 4px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav ul {
    display: flex;
    /* padding: 10px; */
}

.nav li {
    padding-right: 10px;
}

@media all and (max-width: 500px) {
  .nav li {
    font-size: 0.6rem;
  }
}


/*  HERO Showcase Scroll  */

.hero-container {
    height: 70vh;
    text-align: center;
}

.hero-wrapper {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.hero-section {
    height: 60vh;
    min-width: 100vw;
    color: white;
    font-size: 10rem;
}

.hero-section img {
  width: 100%;
    height: inherit;
    object-fit: cover;
}


.product-details {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  font-size: 2rem;
}

.hero-wrapper section:nth-child(1) {
    background-color: grey;
}

.hero-wrapper section:nth-child(2) {
    background-color: rgb(66, 48, 48);
}

.hero-wrapper section:nth-child(3) {
    background-color: rgb(66, 30, 30);
}

.hero-wrapper section:nth-child(4) {
    background-color: rgb(207, 192, 192);
}

/* For mobile display */
@media all and (max-width: 500px) {
  .hero-section {
    font-size: 2rem;
  }
}





/* CARDS SECTION */


.cards-content {
    margin: auto;
    padding: 20px;
}

.header-block {
  text-align: center;
  margin-bottom: 1rem;
}

/* Copy SNippets */

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 250px;
    height: 300px;
    border-radius: 40px;
    box-shadow: var(--dark-shadow);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 10px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    /* font-family: sans-serif; */
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
    text-shadow: -3px -1px rgb(48, 47, 47);
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }



  
/* FOOTER */

footer {
    border: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 150px;
    text-align: center;
}